body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-img {
    background-image: url('./img/фон.png');
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 60px;
    gap: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 100px;

}

.menu li a {
    text-decoration: none;
    color: #FAF4EA;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 22px;
}

.menu li a:hover {
    color: #819B57;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    color: #FAF4EA;
    letter-spacing: 1px;
    margin: 0 120px;
    font-weight: lighter;
}

.header-btn {
    margin-left: 200px;
    padding: 10px 20px;
    background-color: #819B57;
    color: #FAF4EA;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.header-h {
    font-family: "Poppins", sans-serif;
    font-size: 8em;
    color: #FAF4EA;
    margin-top: 180px;
    margin-left: 120px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

span {
    color: #819B57;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 170px;
    padding: 0;
    height: 62px;
    background-color: #819B57;
    color: #FAF4EA;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 1.25em;
    align-items: center;
    margin: 0;

}

#traditions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FAF4EA;
    padding-top: 100px;
    padding-bottom: 30px;
}

.traditions-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 692px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.traditions-text h2 {
    font-size: 3em;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.3;
}

.traditions-text img {
    width: 466px;
    height: 393px;
}

#chefs {
    background-color: #FAF4EA;
    padding-top: 100px;
    padding-bottom: 100px;
}

#chefs h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 3em;
    font-weight: 600;
    margin: 0;
    margin-bottom: 60px;
    line-height: 1.1;

}

.hr-left {
    width: 300px;
    border: 0.5px solid #86a187;
    margin-right: 70px;
    display: inline-block;

}

.hr-right {
    width: 300px;
    border: 0.5px solid #86a187;
    margin-left: 70px;
    display: inline-block;
}

.chefs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 160px;
    padding-left: 100px;
    padding-top: 50px;
}

.chefs-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 605px;
    gap: 70px;
}

.girl,
.man {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.img-girl {
    position: absolute;
    width: 250px;
    height: auto;
    margin-left: -75px;
    margin-top: -20px;
    z-index: 1;
}

.img-man {
    position: absolute;
    width: 250px;
    height: auto;
    margin-left: -75px;
    margin-top: -20px;
    z-index: 1;
}

.img-border-girl {
    position: relative;
    width: 290px;
    height: auto;
    margin-left: -90px;
    margin-top: 0px;
}

.img-border-man {
    position: relative;
    width: 300px;
    height: auto;
    margin-left: -90px;
    margin-top: 14px;
    z-index: 0;
}

.chefs-list h4 {
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.formats-header {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 3em;
    font-weight: 600;
    margin: 0;
    padding: 40px 0;
    line-height: 1.1;
    background-color: #FAF4EA;
}

.formats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #FAF4EA;
}

.format-walrus {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background:
        linear-gradient(rgba(191, 190, 190, 0.129), rgba(0, 0, 0, 0.736)),
        /* градієнт */
        url('./img/P’URI\ 09\ 1.png') center/cover no-repeat;
    /* фонова картинка */
    width: 350px;
    height: 445px;
    color: #FAF4EA;
    font-family: "Poppins", sans-serif;
    border-radius: 15px;
}

.format-walrus h4,
.format-handlebar h4,
.format-horseshoe h4 {
    font-size: 24px;
    margin: 230px 0 10px 20px;

}

.format-walrus dl,
.format-handlebar dl,
.format-horseshoe dl {
    font-size: 16px;
    text-align: left;
}

.format-horseshoe {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background:
        linear-gradient(rgba(191, 190, 190, 0.129), rgba(0, 0, 0, 0.617)),
        /* градієнт */
        url('./img/P’URI\ 09\ 12.png') center/cover no-repeat;
    width: 350px;
    height: 445px;
    color: #FAF4EA;
    font-family: "Poppins", sans-serif;
    border-radius: 15px;
}

.format-handlebar {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background:
        linear-gradient(rgba(191, 190, 190, 0.129), rgba(0, 0, 0, 0.521)),
        /* градієнт */
        url('./img/P’URI\ 09\ 3.png') center/cover no-repeat;
    width: 350px;
    height: 445px;
    color: #FAF4EA;
    font-family: "Poppins", sans-serif;
    border-radius: 15px;
}

.arrow {
    border: none;
    background-color: #FAF4EA;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAF4EA;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 100px;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    width: 603px;
}

.contacts-form h2 {
    font-size: 3.5em;
    margin: 0;
    font-weight: 600;
    line-height: 1.2;
}

.contacts-form p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #465929;
}

.contacts-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #31261A;
    ;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: #FAF4EA;

}

.contacts-form input::placeholder {
    background-color: #FAF4EA;
    color: #A18268;
}

.contacts-form button {
    width: 238px;
    padding: 15px;
    background-color: #819B57;
    color: #FAF4EA;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.contacts-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 130px;
    margin-top: 20px;
}

.contacts-btn p,
.contacts-btn a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #31261A;
}

.contacts-form img {
    width: 605px;
}

.footer {
    background-color: #31261A;
    background-image: url("./img/Group\ 4947.png");
    height: 240px;
    background-repeat: round;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    gap: 150px;
    padding-top: 30px;
}

.footer h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    color: #FAF4EA;
    letter-spacing: 1px;
    margin: 0 120px;
    font-weight: lighter;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer ul li a {
    color: #FAF4EA;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
}

.footer-copyright a {
    color: #FAF4EA;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.copyright {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #A18268;
}